<html>
    <head>
        <title>History of the client</title>
    </head>
    <body>
        <h1>Here is the history of {{ client.getName }} :</h1>

        <div>
            <ul style="float: left; margin-bottom: 15px">
                {% for element in books %}

                <li style="margin-bottom: 15px">Title: <a href="/{{ client.getId }}/about/{{ element.getId }}"> {{ element.getTitle }}</a></li>
                {% endfor %}


           </ul>


              <ul style="float: left">
                  {% for history in histories %}

               <li style="margin-bottom: 15px">Due Date : {{ history.getDueDate }}</li>
               {% endfor %}

           </ul>
    </div>
    <div style="text-align: center">
        <p><a href="/librarian">Return home</a></p>

    </div>

    </body>
</html>
